.cta {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &.style-light {
    .hover-underline-animation {
      color: white;
    }
    .hover-underline-animation:after {
      background-color: white;
    }

    svg {
      stroke: white;
    }
  }
}

.cta span {
  padding-bottom: 7px;
  font-size: 16px;
  padding-right: 15px;
  text-transform: uppercase;
  font-weight: 600;
  @include downSm {
    font-weight: 500;
    font-size: 14px;
  }
}

.cta .icon-right {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  font-size: 30px;
  font-weight: 900;
}

.cta:hover .icon-right {
  transform: translateX(0);
}

.cta:active .icon-right {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-style-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  cursor: pointer;
  color: black;
  z-index: 1;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.button-style-1:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

.button-style-1:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(
    90deg,
    rgba(222, 0, 75, 1) 0%,
    rgba(191, 70, 255, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 1;
}

.button-style-1:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* From Uiverse.io by vinodjangid07 */
.button-style-2 {
  min-width: 140px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #77530a,
    #ffd277,
    #77530a,
    #77530a,
    #ffd277,
    #77530a
  );
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.button-style-2 span {
  position: absolute;
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
  font-size: 14px;
}

.button-style-2:hover {
  background-position: right;
  transition-duration: 1s;
}

.button-style-2:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.button-style-2:active {
  transform: scale(0.95);
}

/* BUTTON STYLE 3*/
.button-style-3 {
  cursor: pointer;
  position: relative;
  padding: 15px 20px;
  text-decoration: none;
  border: none;
  color: #fff;

  text-transform: uppercase;

  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  .text {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.button-style-3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.button-style-3::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  transition-delay: 0.5s;
}
.button-style-3:hover:after {
  left: 100%;
}
.button-style-3 span {
  position: absolute;
  display: block;
  transition: 0.5s ease;
}
.button-style-3 span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.button-style-3:hover span:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}
.button-style-3 span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.button-style-3:hover span:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}
.button-style-3 span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.button-style-3:hover span:nth-child(3) {
  width: 100%;
  transform: translateX(-100%);
}
.button-style-3 span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.button-style-3:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}
