.cta {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &.style-light {
    .hover-underline-animation {
      color: white;
    }
    .hover-underline-animation:after {
      background-color: white;
    }

    svg {
      stroke: white;
    }
  }
}

.cta span {
  padding-bottom: 7px;
  font-size: 16px;
  padding-right: 15px;
  text-transform: uppercase;
  font-weight: 600;
  @include downSm {
    font-weight: 500;
    font-size: 14px;
  }
}

.cta .icon-right {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  font-size: 30px;
  font-weight: 900;
}

.cta:hover .icon-right {
  transform: translateX(0);
}

.cta:active .icon-right {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-style-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  cursor: pointer;
  color: black;
  z-index: 1;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.button-style-1:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

.button-style-1:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(
    90deg,
    rgba(222, 0, 75, 1) 0%,
    rgba(191, 70, 255, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 1;
}

.button-style-1:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button-style-2 {
  padding: 15px 32px;
  color: white;
  border: none;
  border-radius: 5em;
  background-size: 200% 100%;
  background-image: linear-gradient(145deg, #ff53eb, #4b4bff, #5de7ff);
  box-shadow: 3px 3px 10px 2px #4b4bff, -3px -3px 10px 2px #ff53eb;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 3px;
}

.button-style-2:hover {
  background-position: 99%;
  box-shadow: 3px 3px 10px 2px #5de7ff, -3px -3px 10px 2px #4b4bff;
}

.button-style-2:active {
  transform: scale(0.8) rotate(5deg);
  box-shadow: 3px 3px 15px 3px #5de7ff, -3px -3px 15px 3px #4b4bff;
}
