@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/app.scss';

@layer base {
  :root {
    --color-1: #18181b;
    --color-2: #9f9689;
    --color-3: #f4f0ea;
    --color-4: rgb(191 191 177 / 1);
    --color-5: #e74c3c;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container-full {
    @apply max-w-full mx-auto px-1 md:px-3 xl:px-5;
  }

  .container-3xl {
    @apply max-w-screen-3xl mx-auto px-1 md:px-3 lg:px-5 2xl:px-3;
  }

  .container-2xl {
    @apply max-w-screen-2xl mx-auto px-1 md:px-3 lg:px-5 2xl:px-3;
  }

  .container-xl {
    @apply max-w-screen-xl mx-auto px-1 md:px-3 lg:px-5 2xl:px-3;
  }

  .title-block {
    @apply font-bold leading-none;
  }
}

@layer utilities {
  .writing-mode-vertical-lr {
    writing-mode: vertical-lr;
  }

  .btn-sroll-top {
    background-color: var(--color-1);
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    transform: scale(0);
    transition: 0.4s;

    &.isActive {
      transform: scale(1);
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .filter-blur {
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .card-product {
    .button-style {
      font-size: 14px;
      padding: 5px 10px;
      width: 100px;
    }
  }
  .CarouselPrevious {
    svg {
      stroke: white;
    }

    &:hover {
      svg {
        stroke: var(--color-5);
      }
    }
  }
  .CarouselNext {
    svg {
      stroke: white;
    }
    &:hover {
      svg {
        stroke: #e74c3c;
        stroke: var(--color-5);
      }
    }
  }
}
